/* items table */

.table{
    display: table;
    margin: auto;
}
.row{
    display: table-row;
}
.cell{
    display: table-cell;
    padding: 10px;
    /* width: 25%; */
}
.delete{
    color: white;
    transform: 1s;
}
.delete:hover{
    color: red;
}
.done{
      color: white;
}
/* .done:hover{
      color: green;
} */
.no-misions{
    
    color: red;
}
.active{
    color: green;
}
