body{
  background-color: rgb(135 238 249 / 48%);
  text-align: center;
}
.items-list{
  background-color: #6fdeff5e;
  margin: 50px auto;
  width:  300px;
  border-radius: 17px; 
  /* display: inline-block; */
  padding: 20px;
text-align: center;
justify-content: center;
}
.active{
  color: green;
}
